:root {
     --precipitation: lightblue;
}




#root {
     width: 100vw;
     height: 100vh;
     display: flex;
     position: fixed;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: linear-gradient(0deg, rgb(255, 255, 255) 50%, #fff 50%); /* rgb(249, 245, 148) */
     /* #ebebeb is a nice grey */
}


.App {
     position: absolute;
     width: 1000px;
     height: 650px;
     box-shadow: 0px 0px 20px 2px rgba(100,100,100,.2);
     background-color: white;
     z-index: 1;
     overflow: hidden;
}

#search {
     border: none;
     border-bottom: 5px solid black;
     width: 350px;
     height: 50px;
     padding: 3px 0px;
     margin: 30px  55px;
     background-color: transparent;
     font-family: 'Work Sans';
     font-size: 30px;
     font-weight: 900;
     font-style: normal;
     color: black;
     z-index: 1;
}

::placeholder {
     opacity: .4;
}

#search:focus {
     outline: none;
}

#submit {
     background-color: black;
     border: 1px solid black;
     height: 26px;
     width: 75px;
     position: relative;
     right: 45px;
     padding-left: 30px;
     border-radius: 13px;
     color: white;
     text-align: center;
}

#submit:focus {
     outline: none;
}

.weather-info {
     max-width: 570px;
}

.search-stuff {
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 500px;
}

h5 {
     margin: 0;
     margin-top: -25px;
     font-family: 'Work Sans';
     font-weight: 700;
     font-size: 28px;
     background-color: black;
     color: white;
     width: auto;
     display: inline-block;
     padding: 5px 10px;
}

h6 {
     margin: 0;
     margin-top: -35px;
     font-family: 'Work Sans';
     font-weight: 300;
     font-size: 26px;
     padding-left: 2px;
}

h3 {
     margin: 0;
     margin-top: 0px;
     font-family: 'Work Sans';
     font-weight: 800;
     font-size: 175px;
}

h4 {
     margin: 0;
     margin-top: 125px;
     font-family: 'Work Sans';
     font-weight: 800;
     font-size: 40px;
     text-transform: capitalize;
}

p {
     margin: 0;
     margin-top: 10px;
     font-family: 'Work Sans';
     font-weight: 300;
     font-size: 16px;
     width: 400px;
}

h6, h5, h3, h4, p {
     margin-left: 55px;
}

.nav {
     background-color: black;
     width: 100px;
     height: 650px;
     position: absolute;
     left: 900px;
     top: 0px;
     z-index: 2;
}

#sun {
     width: 300px;
     height: 300px;
     border-radius: 50%;
     background-color: rgb(249, 245, 148);
     position: absolute;
     top: -100px;
     left: 700px;
     animation-name: sunny;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-out;
     opacity: 0;
}

#cloud1 {
     opacity: 0;
}

#cloud2 {
     opacity: 0;
}

#cloud111 {
     width: 350px;
     height: 120px;
     border-radius: 60px;
     background-color: white;
     z-index: 1;
     box-shadow: 20px 5px 70px 15px  rgba(100,100,100,.4);
     position: absolute;
     top: 130px;
     left: 720px;
}

#cloud222 {
     width: 120px;
     height: 120px;
     border-radius: 60px;
     background-color: white;
     z-index: 1;
     position: absolute;
     top: 70px;
     left: 790px;
     box-shadow: 0px -20px 30px -10px  rgba(100,100,100,.1);
}

#cloud333 {
     width: 250px;
     height: 120px;
     border-radius: 60px;
     background-color: white;
     z-index: .5;
     box-shadow: 0px 15px 50px 20px  rgba(100,100,100,.2);
     position: absolute;
     top: 55px;
     left: 600px;
     transform: scale(1.2);
}

#cloud444 {
     width: 120px;
     height: 120px;
     border-radius: 60px;
     background-color: white;
     z-index: .5;
     position: absolute;
     top: -5px;
     left: 650px;
     transform: scale(1.2);
}

span {
     width: 8px;
     height: 8px;
     border-radius: 4px;
     background-color: var(--precipitation);
     position: absolute;
     top: 160px;
     left: 610px;
     z-index: -2;
}

#raindrop5, #raindrop6, #raindrop7, #raindrop8 {
     left: 640px;
     top: 110px;
}

#raindrop9, #raindrop10, #raindrop11, #raindrop12 {
     left: 680px;
     top: 150px;
}

#raindrop13, #raindrop14, #raindrop15, #raindrop16 {
     left: 730px;
     top: 100px;
}

#raindrop17, #raindrop18, #raindrop19, #raindrop20 {
     left: 770px;
     top: 170px;
}

#raindrop21, #raindrop22, #raindrop23, #raindrop24 {
     left: 815px;
     top: 110px;
}

#raindrop25, #raindrop26, #raindrop27, #raindrop28 {
     left: 860px;
     top: 140px;
}

#raindrop1, #raindrop5, #raindrop9, #raindrop13, #raindrop17, #raindrop21, #raindrop25 {
     animation-name: rain;
     animation-duration: 1.2s;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
}
#raindrop2, #raindrop6, #raindrop10, #raindrop14, #raindrop18, #raindrop22, #raindrop26 {
     animation-name: rain;
     animation-duration: 1.2s;
     animation-delay: .3s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
}
#raindrop3, #raindrop7, #raindrop11, #raindrop15, #raindrop19, #raindrop23, #raindrop27  {
     animation-name: rain;
     animation-duration: 1.2s;
     animation-delay: .6s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
}
#raindrop4, #raindrop8, #raindrop12, #raindrop16, #raindrop20, #raindrop24, #raindrop28 {
     animation-name: rain;
     animation-duration: 1.2s;
     animation-delay: .9s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
}




#snowfall5, #snowfall6, #snowfall7, #snowfall8 {
     left: 640px;
     top: 110px;
}

#snowfall9, #snowfall10, #snowfall11, #snowfall12 {
     left: 680px;
     top: 150px;
}

#snowfall13, #snowfall14, #snowfall15, #snowfall16 {
     left: 730px;
     top: 100px;
}

#snowfall17, #snowfall18, #snowfall19, #snowfall20 {
     left: 770px;
     top: 170px;
}

#snowfall21, #snowfall22, #snowfall23, #snowfall24 {
     left: 815px;
     top: 110px;
}

#snowfall25, #snowfall26, #snowfall27, #snowfall28 {
     left: 860px;
     top: 140px;
}

#snowfall1, #snowfall5, #snowfall9, #snowfall13, #snowfall17, #snowfall21, #snowfall25 {
     animation-name: snowfall;
     animation-duration: 2.4s;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
}
#snowfall2, #snowfall6, #snowfall10, #snowfall14, #snowfall18, #snowfall22, #snowfall26 {
     animation-name: snowfall;
     animation-duration: 2.4s;
     animation-delay: .6s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
}
#snowfall3, #snowfall7, #snowfall11, #snowfall15, #snowfall19, #snowfall23, #snowfall27  {
     animation-name: snowfall;
     animation-duration: 2.4s;
     animation-delay: 1.2s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
}
#snowfall4, #snowfall8, #snowfall12, #snowfall16, #snowfall20, #snowfall24, #snowfall28 {
     animation-name: snowfall;
     animation-duration: 2.4s;
     animation-delay: 1.8s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
}






@keyframes sunny {
     0% {
          box-shadow: 0px 0px 0px 0px rgba(249, 245, 148,  .5);
     }
     100% {
          box-shadow: 0px 0px 0px 100px rgba(249, 245, 148, 0);
     }
}

@keyframes rain {
     0% {
          transform: translateY(0px);
     }
     100% {
          transform: translateY(550px);
     }
}

@keyframes snowfall {
     0% {
          transform: translateY(0px);
     }
     100% {
          transform: translateY(550px);
     }
}
