#root {

}

#search {
     border: 1px solid red;
     width: 150px;
     height: 14px;
     padding: 5px 10px;
     margin: 20px;
     background-color: transparent;
     font-family: Times;
     font-size: 10px;
     color: red;
     border-radius: 14px;
}

#search:focus {
     outline: none;
}
