

#three-day-container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: rgba(255, 255, 255, .7);
     padding: 10px;
     box-shadow: 0px 0px 50px rgba(0, 0, 0, .1);
     width: 790px;
     height: 150px;
     position: absolute;
     bottom: 55px;
     left: 55px;
     /* margin: 0 auto; */
}

div#day-container {
     width: 250px;
     height: 140px;
     border-right: none;
}

h1#day-of-week {
     margin: 0;
     font-family: 'Work Sans';
     font-weight: 700;
     font-size: 34px;
     text-transform: capitalize;
     margin-right: 13px;
}

h2#hl-temp {
     margin: 0;
     font-family: 'Work Sans';
     font-weight: 300;
     font-size: 18px;
}

h2#hl-desc {
     margin: 0;
     font-family: 'Work Sans';
     font-weight: 400;
     font-size: 20px;
     text-transform: capitalize;
     position: relative;
     top: 20px;
     padding-right: 15px;
}
